.contentContainer{
  margin: auto;
  max-width: 700px;
}

.contentHeading{
  border-bottom: 1px dotted black;
  margin: 64px 0;
  text-transform: uppercase;
}

.peopleList{
  display: flex;
  flex-wrap: wrap;
}

.peopleListItem{
  box-sizing: border-box;
  padding: 8px;
  width: 50%;
}
