.cardNormal{
    border: 1px solid #ccc;
    border-radius: 8px;
    display: flex;
    padding: 8px;
    cursor: pointer;
}

.cardFavorite{
    background-color: lightgreen;
    border: 1px solid #ccc;
    border-radius: 8px;
    display: flex;
    padding: 8px;
    cursor: pointer;
    font-weight: bold;
}

.profilePicLeft{
    align-items: center;
    flex: 1;
    display: flex;
}

.profilePicWrap{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    background-color: black;
    display: inline-block;
    vertical-align: middle;
}

.profilePic{
    width: 100%;
}

.cardDetails{
    flex: 1;
}